pandas
numpy
pyarrow
matplotlib
openai-whisper
torch
torchaudio
jupyter
ipykernel
nbformat
gradio_client
tqdm
levenshtein
transformers
seaborn
rich
streamlit
streamlit-echarts
text2num
scikit-learn
jiwer